body {
    padding: 0%;
    margin: 2%;
    vertical-align: baseline;
    list-style: none;
    border: 0%;
}

header {
    text-align: center;

}

.logo {
width: 200px;
}
.fusca{
    width: 400px;
}

.titulo{
}

.menu {

}

.item-menu{

}

.item-menu a{

}

.item-menu a:hover{

}

.item-menu a:visited{

}

main{

}

section{

}

.titulo-section {

}

.conteudos {

}

.item-conteúdo {

}

.titulo-conteúdo {

}

.imagem-conteúdo {

}

.desc-conteúdo {

}

footer {
    background-color: aliceblue;
}

.logo-rodape {
    width: 100px;
    margin-top: 25px;

}

.texto-rodape {
}
.table{
    border: solid black;
}